---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.date %}<p class="post-meta">{{ page.date | date: "%-d %B %Y" }}</p>{% endif %}
    {% if page.abstract %}<p class="post-abstract">{{ page.abstract }}</p>{% endif %}
    {% if page.toc %}<nav class="toc">{% include toc.html html=content h_min=2 h_max=3 %}</nav>{% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.tags %}
  <footer class="post-tags">
    {% for tag in page.tags %}
      <a class="tag" href="{{ '/tags/#' | append: tag | relative_url }}">#{{ tag }}</a>
    {% endfor %}
  </footer>
  {% endif %}
</article>
